<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pigal Home</title>
    <link href="{{ url_for('payments.static', filename='custom.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Bienvenue dans une page demo</h1>
    <p>Hey this is from Demo page</p>
    <p>{{ request.endpoint }}</p>
    <p>{{ request.url }}</p>
    <a href="{{ url_for('students.index') }}">Revenir a la page etudiants</a>
</body>
</html>
